<div class="card" style="max-width: 24rem;">
	<div class="card-header bg-{{color}} text-center">
		<i class="{{ icone }} fa-2x mb-2 mt-2"></i>
	</div>
	<div class="card-body text-white bg-dark text-center">


		<p class="card-text">{{ text }}</p>
	</div>

</div>
